<footer>
    <div class="container">
        <p>&copy; 2023 MonSiteWeb. Tous droits réservés.</p>
        <p>Suivez-nous sur :
            <a href="https://twitter.com/monprofil" target="_blank">Twitter</a>,
            <a href="https://facebook.com/monprofil" target="_blank">Facebook</a>,
            <a href="https://instagram.com/monprofil" target="_blank">Instagram</a>.
        </p>
        <p>Contactez-nous à : <a href="mailto:contact@monsiteweb.com">contact@monsiteweb.com</a></p>
    </div>
</footer>
